* {
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: 100vh;
	background-color: rgb(255, 255, 255);
}

.container {
	position: relative;
}

.btn {
	display: inline-block;
	background-color: red;
	font-size: 16px;
	color: white;
	padding: 8px 25px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.btn:active {
	transform: scale(0.97);
}

.heart {
	position: absolute;
	left: calc(50% - 16px);
	bottom: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url('../js/img/heart.png');
	/* animation-name: like-1; */
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;	
	z-index: -1;
}

/* Первый вариант анимации */
@keyframes like-1 {
	0% {
		left: calc(50% - 16px);
	}
	25% {
		left: calc(50% - 25px - 16px);
	}
	50% {
			left: calc(50% - 16px);
	}
	75% {
		left: calc(50% + 25px - 16px);
	}
	100% {
			bottom: 200px;
			opacity: 0;
			left: calc(50% - 16px);
	}
}

/* Второй вариант анимации */
@keyframes like-2 {
	0% {
		left: calc(50% - 16px);
	}
	50% {
			left: calc(50% + 25px - 16px);
	}
	75% {
		left: calc(50% - 25px - 16px);
	}
	100% {
			bottom: 200px;
			opacity: 0;
			left: calc(50% - 16px);
	}
}

/* Третий вариант анимации */
@keyframes like-3 {
	0% {
		left: calc(50% - 16px);
	}
	50% {
			left: calc(50% - 25px - 16px);
	}
	75% {
		left: calc(50% + 25px - 16px);
	}
	100% {
			bottom: 200px;
			opacity: 0;
			left: calc(50% - 16px);
	}
}

/* Четвертый вариант анимации*/
@keyframes like-4 {
	0% {
		left: calc(50% - 16px);
	}
	25% {
		left: calc(50% + 25px - 16px);
	}
	50% {
			left: calc(50% - 16px);
	}
	75% {
		left: calc(50% - 25px - 16px);
	}
	100% {
			bottom: 200px;
			opacity: 0;
			left: calc(50% - 16px);
	}
}
